<body>
<table>

    <tr>

      <td>
        <p>Reason:</p>
      </td>

      <td>
        <div>
          <p>
            <mat-form-field appearance="outline">
              <mat-label></mat-label>
              <input matInput placeholder="Reason">
            </mat-form-field>
          </p>
        </div>
      </td>

    </tr>
    <tr>

        <td>
          <p>Comment:</p>
        </td>
  
        <td>
          <div>
            <p>
              <mat-form-field appearance="outline">
                <mat-label></mat-label>
                <input matInput placeholder="Comment">
              </mat-form-field>
            </p>
          </div>
        </td>
  
      </tr>
      <tr>

        <td>
          <p>Hazard:</p>
        </td>
  
        <td>
          <div>
            <p>
              <mat-form-field appearance="outline">
                <mat-label></mat-label>
                <input matInput placeholder="Hazard">
              </mat-form-field>
            </p>
          </div>
        </td>
  
      </tr>

      <tr>

        <td>
          <p>Address:</p>
        </td>
  
        <td>
          <div>
            <p>
              <mat-form-field appearance="outline">
                <mat-label></mat-label>
                <input matInput placeholder="Address">
              </mat-form-field>
            </p>
          </div>
        </td>
  
      </tr>
      <td><button class="btn-regular">Add</button></td>
</table>
</body>