<DIV class="incident-additional">

    <mat-card class="example-card" style="background-color: #f86f1a; ">
        <mat-card-header>
          <div mat-card-avatar ><i class="fas  fa-paperclip" ></i></div>
          <mat-card-title>Add tag 17392n_dhfsa</mat-card-title>
        </mat-card-header>
      </mat-card>
      <mat-card class="example-card" style="background-color: #f86f1a; ">
        <mat-card-header>
          <div mat-card-avatar ><i class="fas  fa-paperclip" ></i></div>
          <mat-card-title>Place teporary tag 56_hda</mat-card-title>
        </mat-card-header>
      </mat-card>
      <mat-card class="example-card" style="background-color: #f86f1a">
        <mat-card-header>
          <div mat-card-avatar ><i class="fas  fa-paperclip" ></i></div>
          <mat-card-title>Open 873_hdankcsa</mat-card-title>
        </mat-card-header>
      </mat-card>
      <mat-card class="example-card" style="background-color:#f86f1a">
        <mat-card-header>
          <div mat-card-avatar ><i class="fas  fa-paperclip"></i></div>
          <mat-card-title>Go to 82_hdsan</mat-card-title>
        </mat-card-header>
      </mat-card>
      <mat-card class="example-card" style="background-color: #f86f1a; ">
        <mat-card-header>
          <div mat-card-avatar ><i class="fas  fa-paperclip" ></i></div>
          <mat-card-title>Add tag 17392n_dhfsa</mat-card-title>
        </mat-card-header>
      </mat-card>
      <mat-card class="example-card" style="background-color: #f86f1a; ">
        <mat-card-header>
          <div mat-card-avatar ><i class="fas  fa-paperclip" ></i></div>
          <mat-card-title>Place teporary tag 56_hda</mat-card-title>
        </mat-card-header>
      </mat-card>
      <mat-card class="example-card" style="background-color: #f86f1a">
        <mat-card-header>
          <div mat-card-avatar ><i class="fas  fa-paperclip" ></i></div>
          <mat-card-title>Open 873_hdankcsa</mat-card-title>
        </mat-card-header>
      </mat-card>
      <mat-card class="example-card" style="background-color:#f86f1a">
        <mat-card-header>
          <div mat-card-avatar ><i class="fas  fa-paperclip"></i></div>
          <mat-card-title>Go to 82_hdsan</mat-card-title>
        </mat-card-header>
      </mat-card>
     
</DIV>