<table>
  <tr>
    <td rowspan="2">
      <ul>
        <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
        <li><a routerLink="/incident-browser" routerLinkActive="active">Incident Browser</a></li>
        <li><a href="contact.asp">Contact</a></li>
        <li><a href="about.asp">About</a></li>
      </ul>
    </td>
    <td>
      <h1>{{ title }}</h1>
    </td>
  </tr>
  <tr>
    <td>
      <h2>Routed here</h2>
      <router-outlet></router-outlet>
    </td>
  </tr>
</table>