<div class="header">
    <div id="sidebar-triger" class="toogle-sidebar"><i class="fas fa-bars"></i></div>
    <div class="main-header clearfix">
        <div class="main-header__left">
            <div class="logo">
                <i class="fab fa-accusoft"></i>
            </div>
            <div class="page-title">
                <p>Dashboard</p>
            </div>
        </div>
        <div class="main-header__right">
            <div class="main-header__account">
                <p>Katarina Veljkovic</p>
                <a href="#">Account settings</a>
            </div>
            <div class="main-header__account-options">
                <a href="#"><i class="fas fa-user-alt"></i></a>
            </div>
        </div>
    </div>
</div>