<body>
    <div>
        <input type="submit" class="btn-regular"  value="Filter"/>
        <input type="submit" class="btn-regular" value="All"/>
        <input type="submit" class="btn-regular" value="Mine"/>
        <input type="submit" class="btn-regular"  value="New"/>
    </div>
    <table class="my-table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Start Date</th>
            <th>Phone Number</th>
            <th>Status</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                WR1
            </td>
            <td>
                13. aug 2016
            </td>
            <td>
                0623456342
            </td>
            <td>
                Draft
            </td>
            <td>
                Sekspirova 11
            </td>
        </tr>
        <tr>
            <td>
                WR2
            </td>
            <td>
                2. aug 2016
            </td>
            <td>
                0623456342
            </td>
            <td>
                Draft
            </td>
            <td>
                Danila Kisa 32
            </td>
        </tr>
    </tbody>
    </table>
    <div class="number_menu">
    <nav>
        <ul>
          <li><a href="#"> 1 </a></li>
          <li><a href="#"> 2 </a></li>
          <li><a href="#"> 3 </a></li>
        </ul>
      </nav>
      </div>
<p>Ne znam kako da stavim brojeve da listas stranice...</p>>
</body>
