p, h1, h2, h3, h4, h5 
{
    margin: 0;
    font-family: sans-serif;
    color: #015352;
    padding: 20px;   
}

body 
{
    height: auto;   
    margin: 0;
    display: grid;
    place-items: center;   
    width: auto;
    position: fixed; 
    top: 10%;  
    left: 50%;
    transform: translate(-50%, -10%);   
}

.btn-regular {
    background: #ffb336;
    color: #015352;
    border: none;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    padding: 10px 35px;
    font-weight: 600;
    float: right;
    margin-bottom: 20px;
}

.btn-regular:hover {
    color: #015352;
    text-decoration: none;
    background: #fecf58;
}

.my-table {
    border-radius: 10px;
    border-color: #ffb336;
}

.my-table thead th {
    background: #015352;
    color: #fecf58;
}

.my-table tbody td {
    background: #fecf58;
    color: #015352;
}