<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Flat UI Buttons</title>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=PT+Sans:700' rel='stylesheet' type='text/css'>
</head>

<body>

    <div>
        <p>DISTRIBUTION</p>
    </div>

    <div class="row">
        <div class="column" style="float: left;">
            <img src="/assets/images/def.png" >

            <p>
                “The present is theirs; the future, for which I really worked, is mine.”
            </p>   
            <a routerLink="calls"><button class="incidento" > Incident</button></a>

        </div>

        <div class="column" class="column_spec">
            

            <div class="login">
               

                <div>
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div>
                            <!--<p>Username:</p>-->
                            <input type="text" name="UserName" id="txtUserName" placeholder="Username *" required formControlName="username"/>
                        </div>
    
                        <div>
                            <!--<p>Password:</p>-->
                            <input type="password" class="form-control" name="password" id="txtpassword" placeholder="Password *" formControlName="password"/>
                        </div>
    
                        
                        <input type="submit" value="Login">
                        <p>No account? <a routerLink="/register">Register.</a></p>
                        <div class="button">
                            <!--<input type="submit" value="Register with facebook"/>-->
                            <a class="btn btn-facebook"><i class="fa fa-facebook"></i>  Continue with Facebook</a>
                        </div>
    
                        <div>
                            <a class="btn btn-twitter"><i class="fa fa-twitter"></i>   Continue with Twitter</a>
                        </div>
    
                        <div>
                            <a class="btn btn-google-plus"><i class="fa fa-google-plus"></i>  Continue with Google</a>
                        </div>
    
                        <div>
                            <a class="btn btn-linkedin"><i class="fa fa-linkedin"></i>  Continue with LinkedIn</a>
                        </div>
                        
                        <div>
                            <input type="submit1" value="Continue with GitHub"/>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
    <!--<img src="/src/app/images/tesla.jpg">-->
</body>