h1, h2, h4, h5 
{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #f86f1a;
    padding: 20px;   
}

h3
{
    /*nacentrirati naslov*/
    font-size: 23px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #f86f1a;
    padding: 20px; 
    text-align: center;
    font-style: bold;
}

p{
margin: 0;
font-family: Arial, Helvetica, sans-serif;
color: #f86f1a;
padding: 10px;
text-align: center;
font-style: italic;

   
}

.incidento{
    background-color: red;
    color: white;
    cursor: pointer;
    width: 300px;
    height: 50px;
    border-radius: 25px;
    font-size: 30px;
}

body 
{
    height: auto;   
    margin: 0;
    display: grid;
    place-items: center;   
    width: auto;
    /* position: fixed; 
    top: 80%;  
    left: 50%;
    transform: translate(-50%, -60%);  */
    

    
    overflow-y: scroll;
    overflow: hidden;

    background-color: #07171e;
    text-align:center;
    /* position:absolute; */
    
}

.column_spec
{   
    background: linear-gradient(to left, #f86f1a, #ba102a, #8d274a, #319197);
    margin: 0;
    width: 800px;
    height: auto;
    padding: 10px;
    text-align: center;
    line-height: 60px;
    align-self: center;
    border-radius: 25px;
    flex-direction: column;
}

.row {
    display: flex;
    
  }
  
  .column {
    flex: 50%;
  }

.login {   
    width: 100%;
    height: auto;
    border-radius: 25px;
    background: #07171e;
    color: #319197;   
    
    padding-top: 80px;
    padding-bottom: 80px;
}

input[type="text"]
{
    width:400px;
    height: 30px;   
    border: none;
    border-bottom: 1px solid #319197;
    background: transparent;
    color: #686b6b;
    font-weight: bold;    
}

input[type="password"]
{
    width: 400px;
    height: 30px;   
    border: none;
    border-bottom: 1px solid #319197;
    background: transparent; 
    font-weight: bold;
}

/*social media buttons*/
/*facebook*/

.btn.btn-facebook
{
    background-color: #3b5998; 
    border-color: #3B5998; 
    /*-webkit-box-shadow: 0 3px 0 #8b9dc3; */
    box-shadow: 0 3px 0 #3b4498;   
    font-size: 20px;
    width: 100px;
    color:white;
    border-radius:10px;
    padding: 10px 90px;
    
}

.btn.btn-facebook:active
{
    top: 3px;
    outline: none; 
    -webkit-box-shadow: none; 
    box-shadow: none;
}

/*twitter*/
.btn.btn-twitter
{
    background-color: #2a91db; 
    border-color: #2a91db; 
    /*-webkit-box-shadow: 0 3px 0 #1d6ea7; */
    box-shadow: 0 3px 0 #1d6ea7;
    padding: 10px 100px;
    font-size: 20px;
    width: 100px;
    color:white;
    border-radius:10px;
}

.btn.btn-twitter:active
{
    top: 3px;
    outline: none; 
    -webkit-box-shadow: none; 
    box-shadow: none;
}

/*google+*/

.btn.btn-google-plus
{
    background-color: #be3b26; 
    border-color: #be3b26; 
    /*-webkit-box-shadow: 0 3px 0 #842719; */
    box-shadow: 0 3px 0 #842719;
    padding: 10px 100px;
    font-size: 20px;
    width: 100px;
    color:white;
    border-radius:10px;
}

.btn.btn-google-plus:active
{
    top: 3px; outline: none; 
    -webkit-box-shadow: none; 
    box-shadow: none;
}

/*linkedIn*/

.btn.btn-linkedin
{
    background-color: #0074ba; 
    border-color: #0074ba; 
    /*-webkit-box-shadow: 0 3px 0 #00497b; */
    box-shadow: 0 3px 0 #00497b;
    padding: 10px 90px;
    font-size: 20px;
    width: 100px;
    color:white;
    border-radius:10px;
    
}
.btn.btn-linkedin:active
{
    top: 3px; outline: none; 
    -webkit-box-shadow: none; 
    box-shadow: none;
}

/*login i deo za git*/

input {
    width: 370px;
    padding: 10px;
    

    border-radius: 10px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */
    text-align:center;
    
  }




input:hover,
.btn:hover {
  opacity: 1;
}


input[type=submit] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  /*gitHub*/

  input[type=submit1] {
    background-color: #b6b1b0;
    color: white;
    cursor: pointer;
  }

input[type=submit1]:hover {
    background-color: #677262;
  }
