<body>
    <div>
        <div>
            <h3>Login</h3>
            <h2>Login to access site.</h2>
        </div>
        <div>
            <div>
                <input type="text" name="UserName" id="txtUserName" placeholder="Username *" required />
            </div>
            <div>
                <input type="password" class="form-control" name="password" id="txtpassword" placeholder="Password *" />
            </div>
            <input type="submit" id="registerBtn" value="Register" />
            <p>No account? <a routerLink="/register">Register.</a></p>
        </div>
        <p>
        Not correct input
        </p>
    </div>
</body>