<body>
    <div>
        <div>
            <h3>DISTRIBUTION</h3>
            <h2>Electricity is love.</h2>
        </div>
        <div>
            <div>
                <p>Username:</p>
                <input type="text" name="UserName" id="txtUserName" placeholder="Username *" required />
            </div>
            <div>
                <p>Password:</p>
                <input type="password" class="form-control" name="password" id="txtpassword" placeholder="Password *" />
            </div>
            <input type="submit" id="registerBtn" value="Register" />
            <p>No account? <a routerLink="/register">Register.</a></p>
            <div>
                <input type="submit" value="Register with facebook"/>
            </div>
            <div>
                <input type="submit" value="Register with twitter"/>
            </div>
            <div>
                <input type="submit" value="Register with google"/>
            </div>
            <div>
                <input type="submit" value="Register with linkedIn"/>
            </div>
            <div>
                <input type="submit" value="Register with google"/>
            </div>
        </div>
        <p>
        Not correct input
        </p>
        <img src="/projekat/src/app/images/tesla.jpg">
    </div>
</body>