<DIV class="incident-additional">

    <mat-card class="example-card" style="background-color: red; color: white;">
        <mat-card-header>
          <div mat-card-avatar ><i class="fas fa-times-circle" style="color: white; "></i></div>
          <mat-card-title>EEEEEEEEEEEERRRROOOOORR</mat-card-title>
        </mat-card-header>
      </mat-card>
      <mat-card class="example-card" style="background-color: green; color: white;">
        <mat-card-header>
          <div mat-card-avatar ><i class="fas fa-check-circle" style="color: white;"></i></div>
          <mat-card-title>Sve je ok bice bolje</mat-card-title>
        </mat-card-header>
      </mat-card>
      <mat-card class="example-card" style="background-color: orange; color: white;">
        <mat-card-header>
          <div mat-card-avatar ><i class="fas fa-exclamation-triangle" style="color: white;"></i></div>
          <mat-card-title>Nesto nije ok al nzm sta</mat-card-title>
        </mat-card-header>
      </mat-card>
      <mat-card class="example-card" style="background-color:royalblue; color: white;">
        <mat-card-header>
          <div mat-card-avatar ><i class="fas fa-info-circle" style="color:white;"></i></div>
          <mat-card-title>INFO: dosta mi je</mat-card-title>
        </mat-card-header>
      </mat-card>
      <mat-card class="example-card" style="background-color: green; color: white;">
        <mat-card-header>
          <div mat-card-avatar ><i class="fas fa-check-circle" style="color: white;"></i></div>
          <mat-card-title>Idem da spavam</mat-card-title>
        </mat-card-header>
      </mat-card>
</DIV>