<DIV class="incident-additional">

    <mat-card class="example-card" style="background-color: red; color: white;">
        <mat-card-header>
          <div mat-card-avatar ><i class="fas fa-times-circle" style="color: white; "></i></div>
          <mat-card-title>Eror</mat-card-title>
        </mat-card-header>
      </mat-card>
      <mat-card class="example-card" style="background-color: green; color: white;">
        <mat-card-header>
          <div mat-card-avatar ><i class="fas fa-check-circle" style="color: white;"></i></div>
          <mat-card-title>You logged in</mat-card-title>
        </mat-card-header>
      </mat-card>
      <mat-card class="example-card" style="background-color: orange; color: white;">
        <mat-card-header>
          <div mat-card-avatar ><i class="fas fa-exclamation-triangle" style="color: white;"></i></div>
          <mat-card-title>You have work to do</mat-card-title>
        </mat-card-header>
      </mat-card>
      <mat-card class="example-card" style="background-color:royalblue; color: white;">
        <mat-card-header>
          <div mat-card-avatar ><i class="fas fa-info-circle" style="color:white;"></i></div>
          <mat-card-title>You can change this in html</mat-card-title>
        </mat-card-header>
      </mat-card>
      <mat-card class="example-card" style="background-color: green; color: white;">
        <mat-card-header>
          <div mat-card-avatar ><i class="fas fa-check-circle" style="color: white;"></i></div>
          <mat-card-title>You added user</mat-card-title>
        </mat-card-header>
      </mat-card>
</DIV>