<body>
    <div class="sidebar-menu">
        <div class="sidebar-menu__top">
                    <ul class="sidebar-menu__top__links">
                        <li>
                            <a routerLink="work-requests-basic-info">
                                
                                <div class="triger"><span>Basic Information</span></div>
                            </a>
                        </li>
                        <li>
                            <a routerLink="work-requests-history" >
                                <div class="triger"><span>History of state changes</span></div>
                            </a>
                        </li>
                        <li>
                            <a routerLink="work-requests-multimedia">
                                <div class="triger"><span>Multimedia attachments</span></div>
                            </a>
                        </li>
                        <li>
                            <a routerLink="work-requests-equipment">
                                <div class="triger"><span>Equipment</span></div>
                            </a>
                        </li>   
                        <li>
                            <a routerLink="work-requests-equipment">
                                <div class="triger"><span>Switching instructions</span></div>
                            </a>
                        </li>            
                    </ul>
                    
                <button class="btn" (click)="onSubmit()">Save</button>
        </div>
    </div>
    <div><router-outlet></router-outlet></div>
</body>