<div class="incident-additional">
    <div class="basic-information">
        
      <div class="basic-info-title">
          <h2>RESOLUTION</h2>
      </div>


      <table id="resolutiontable">
        <tr>
          <td>Cause:</td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Vreme</mat-label>
              <mat-select>
                <mat-option value="option">Vreme</mat-option>
                <mat-option value="option2">Ljudski faktor</mat-option>
                <mat-option value="option3">Otkaz</mat-option>
              </mat-select>
            </mat-form-field>
        </td>
        </tr>

        <tr>
          <td>Subcause:</td>
            <td>
            <mat-form-field appearance="fill">
              <mat-label>Grmljavina</mat-label>
              <mat-select>
                <mat-option value="option">Grmljavina</mat-option>
                <mat-option value="option2">Uragan</mat-option>
                <mat-option value="option3">Vetar</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>Construction type:</td>
          <td>
          <mat-form-field appearance="fill">
            <mat-label>None</mat-label>
            <mat-select>
              <mat-option value="option">Podzemni</mat-option>
              <mat-option value="option2">Nadzemni</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        </tr>

        <tr>
          <td>Material:</td>
          <td><mat-form-field appearance="fill">
            <mat-label>Metal</mat-label>
            <mat-select>
              <mat-option value="option">Metal</mat-option>
              <mat-option value="option2">Plastika</mat-option>
              <mat-option value="option3">Drvo</mat-option>
            </mat-select>
          </mat-form-field></td>
        </tr>

      </table>

  </div>
</div>