
.incident-additional {
    position: absolute;
    left: 310px;
    border: 4px solid #07171e;
    background: #f86f1a;
   
    border-radius: 25px;
    width: 900px;
    height: 600px;
    color:#319197;
    padding: 0 20px;
    box-sizing: border-box;
      
    overflow-y: scroll;

  
}



p, h1, h2, h3, h4, h5 
{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #07171e;
    padding: 20px;   
}


.example-container {
    width: 500px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;


  }
  
  .example-list {
    border: solid 1px #f86f1a;
    min-height: 60px;
    background: f86f1a;
    border-radius: 4px;
    overflow: hidden;
    display: block;


  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 4px #07171e;
    color: #f86f1a;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: #00202e;
    font-size: 14px;

    background-color: #00202e;
    
    border-radius: 10px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .btn-regular {
    background: #07171e;
    color: #f86f1a;
    border: none;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    padding: 10px 35px;
    font-weight: 600;  
    margin-top: 20px;
    left:5%;
    
    
}



.btn-regular:hover {
    color: #00202e;
    text-decoration: none;
    background: #319197;
}