p, h1, h2, h3, h4, h5 
{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    padding: 20px;   
}

body 
{
    height: auto;   
    margin: 0;
    display: grid;  
    width: auto;

}

table {
    width: 500px;
    background-color: #f86f1a;
    margin-left: 100px;
    margin-top: 100px;
    padding:initial;
    border: 4px solid #07171e;
    border-radius: 25px;
}
  
  .mat-form-field {
    background-color: #f86f1a;
    font-size: 14px;
    width: 1000px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;;
  }

  
  th,td {
    width: 25%;
    
  }

.buttons
{
    margin:10px;
    background-color:#00202e;
    text-align: center;
    

}
.btn-regular {
    background: #07171e;
    color: #f86f1a;
    border: none;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    padding: 10px 35px;
    font-weight: 600;  
    margin-top: 20px;
    left:5%;
    
    
}



.btn-regular:hover {
    color: #00202e;
    text-decoration: none;
    background: #319197;
}