<body>
    <table>
    
        <tr>
    
          <td>
            <p>Type:</p>
          </td>
    
          <td>
            <mat-form-field >
              <mat-label>Type:</mat-label>
              <mat-select [(ngModel)]="selectedType" (selectionChange)="onCauseChange($event)">
                <mat-option value="Switch">Switch</mat-option>
                <mat-option value="Transformator">Transformator</mat-option>
                <mat-option value="Fuse">Fuse</mat-option>
                <mat-option value="Dissconector">Dissconector</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
    
        </tr>
        
          <tr>
    
            <td>
              <p>Name:</p>
            </td>
      
            <td>
              <div>
                <p>
                  <mat-form-field appearance="outline">
                    <mat-label></mat-label>
                    <input matInput placeholder="Name" [(ngModel)]="name" readonly>
                  </mat-form-field>
                </p>
              </div>
            </td>
      
          </tr>
    
          <tr>
    
            <td>
              <p>Address:</p>
            </td>
      
            <td>
              <div>
                <p>
                  <mat-form-field appearance="fill">
                    <mat-label>Select Address</mat-label>
                    <mat-select [(ngModel)]="selectedStreet">
                      <mat-option *ngFor="let item of streets" [value]="item.name">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </p>
              </div>
            </td>
      
          </tr>
          <tr>
    
            <td>
              <p>Coordinates:</p>
            </td>
      
            <td>
              <div>
                <p>
                  <mat-form-field appearance="outline">
                    <mat-label></mat-label>
                    <input matInput placeholder="Coordinates">
                  </mat-form-field>
                </p>
              </div>
            </td>
      
          </tr>
          <td><button class="btn-regular" (click)="onSubmit()">Add</button></td>
    </table>
    </body>