p, h1, h2, h3, h4, h5 
{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #015352;
    padding: 20px;   
}

body 
{
    height: auto;   
    margin: 0;
    display: grid;
    place-items: center;   
    width: auto;

}

.btn-regular {
  background: #07171e;
  color: #ffb336;
  border: none;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  padding: 10px 35px;
  font-weight: 600;  
  margin-top: 100px;
  left:5%;
  border-bottom:2px solid #ffb336;

  
  
}



.btn-regular:hover {
  color: #00202e;
  text-decoration: none;
  background: #f86f1a;
}

table {
    width: 1000px;
    background-color: #ffb336;
}
  
  .mat-form-field {
    background-color: #ffb336;
    font-size: 14px;
    width: 1000px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    border-bottom:4px solid #07171e;
  }

  
  th,td {
    width: 25%;
    
  }



  mat-paginator
  {
    background-color: #ffb336;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
  }

.buttons
{
    margin:10px;
    background-color:#00202e;
    text-align: center;
    

}