.clearfix:after 
{
    content: '';
    display: table;
    clear: both
  }
  
  * 
  {
    box-sizing: border-box;
  }
  
  a 
  {
    text-decoration: none;
    color: #00202e;
  }
  
  body, p, h1, h2, h3, h4, h5 
  {
    margin: 0;
  }

.sidebar-menu 
{
    position: fixed;
    background: linear-gradient(#f86f1a, #ba102a, #8d274a, #319197);
    height: 93.2vh;
    left: 0;
    top: 61px;
    padding-left: 8px;  
    display: inline;
    z-index: 9999; /*navigation bar in front*/
}

.sidebar-menu__top__links 
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

.sidebar-menu__top__links li:hover 
{
    background-color: linear-gradient(#f86f1a, #ba102a, #8d274a, #319197);
   
}

.sidebar-menu__top__links li:hover i 
{
    color: #07171e;
    
}

.sidebar-menu__top__links li:hover span 
{
    color: #f86f1a; /*boja slova*/
} 

.sidebar-menu__top__links a 
{
    display: inline-block;
    height: 51.88px;
    padding: 13px 0;
}

.sidebar-menu__top__links div 
{
    display: inline-block;
    vertical-align: middle;
}

.sidebar-menu__top__links .triger 
{
    width: 51.8px;
    text-align: center;
}


.sidebar-menu__top__links .triger i 
{
    font-size: 25px;
}

.sidebar-menu__top__links .data 
{
    display: none;
    width: 150px;
    padding-left: 10px;
    font-size: 20px;
}

.sidebar-menu__top__links .data.show 
{
    display: inline-block;
}

.sidebar-menu__top__links li:hover .data 
{
    display: inline-block;
    position: absolute;
    background-color: #07171e; /*pozadina naziva*/
    border: 4px solid #f86f1a;
    border-left: #07171e;
    width: auto;
    padding: 15px;
    transform: translate(0, -13px);  
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    z-index: 5;
    
}

.sidebar-menu__bottom 
{
    position: absolute;
    bottom: 40px;
    left: 0;
    padding-left: 8px;
}