<div class="sidebar-menu">
    <div class="sidebar-menu__top">
                <ul class="sidebar-menu__top__links">
                    <li>
                        <a href="#">
                            <div class="triger"><i class="fas fa-search"></i></div>
                            <div class="data"><span>Search</span></div>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/dashboard" >
                            <div class="triger"><i class="fas fa-home"></i></div>
                            <div class="data"><span>Dashboard</span></div>
                        </a>
                    </li>
                    <li>
                        <a href="/incident-browser">
                            <div class="triger"><i class="fas fa-file-alt"></i></div>
                            <div class="data"><span>Incident Browser</span></div>
                        </a>
                    </li>
                    <li>
                        <a routerLink="#">
                            <div class="triger"><i class="fas fa-map"></i></div>
                            <div class="data"><span>Maps</span></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="triger"><i class="fas fa-network-wired"></i></div>
                            <div class="data"><span>Add network elements</span></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="triger"><i class="fas fa-desktop"></i></div>
                            <div class="data"><span>Add screen</span></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="triger"><i class="fas fa-user-plus"></i></div>
                            <div class="data"><span>Add customer</span></div>
                        </a>
                    </li>                    
                </ul>
    </div>
    <div class="sidebar-menu__bottom">
                <ul class="sidebar-menu__top__links">
                    <li>
                        <a href="#">
                            <div class="triger"><i class="fas fa-bell"></i></div>
                            <div class="data"><span>Notification</span></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="triger"><i class="fas fa-cog"></i></div>
                            <div class="data"><span>Settings</span></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="triger"><i class="fas fa-sign-out-alt"></i></div>
                            <div class="data"><span>Sign out</span></div>
                        </a>
                    </li>
                    </ul>
        </div>
</div>