<div class="sidebar-menu" *ngIf="show">
    <div class="sidebar-menu__top">
                <ul class="sidebar-menu__top__links">
                    <li>
                        <a routerLink="/dashboard" >
                            <div class="triger"><i class="fas fa-home"></i></div>
                            <div class="data"><span>Dashboard</span></div>
                        </a>
                    </li>
                    <li>
                        <a routerLink="incident-browser">
                            <div class="triger"><i class="fas fa-file-alt"></i></div>
                            <div class="data"><span>IncidentBrowser</span></div>
                        </a>
                    </li>
                    <li>
                        <a routerLink="work-requests">
                            <div class="triger"><i class="fas fa-briefcase"></i></div>
                            <div class="data"><span>WorkRequests</span></div>
                        </a>
                    </li>     
                    <li>
                        <a routerLink="switching-plans">
                            <div class="triger"><i class="fas fa-book"></i></div>
                            <div class="data"><span>SwitchingPlans</span></div>
                        </a>
                    </li> 
                    
                    <li>
                        <a routerLink="safety-documents">
                            <div class="triger"><i class="fas fa-window-restore"></i></div>
                            <div class="data"><span>SafetyDocuments</span></div>
                        </a>
                    </li>     
                    <li>
                        <a routerLink="calls">
                            <div class="triger"><i class="fas fa-phone-square"></i></div>
                            <div class="data"><span>Calls</span></div>
                        </a>
                    </li>
                    <li>
                        <a routerLink="add-device">
                            <div class="triger"><i class="fas fa-laptop"></i></div>
                            <div class="data"><span>AddDevice</span></div>
                        </a>
                    </li>
                    <li>
                        <a routerLink="teams">
                            <div class="triger"><i class="fas fa-users"></i></div>
                            <div class="data"><span>Teams</span></div>
                        </a>
                    </li>
                    <li>
                        <a routerLink="add-consumer">
                            <div class="triger"><i class="fas fa-user-plus"></i></div>
                            <div class="data"><span>AddConsumer</span></div>
                        </a>
                    </li> 
                </ul>
    </div>
    <div class="sidebar-menu__bottom">
                <ul class="sidebar-menu__top__links">
                    <li>
                        <a routerLink="notifications">
                            <div class="triger"><i class="fas fa-bell"></i></div>
                            <div class="data"><span>Notification</span></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="triger"><i class="fas fa-cog"></i></div>
                            <div class="data"><span>Settings</span></div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="triger"><i class="fas fa-sign-out-alt"></i></div>
                            <div class="data"><span>SignOut</span></div>
                        </a>
                    </li>
                    </ul>
        </div>
</div>