<div class="incident-additional">
    <div class="basic-information">
        
      <div class="basic-info-title">
          <h2>CHECKLIST</h2>
      </div>
      <form>
      <table>
        <tr>

          <td>
            <p>All work operations completed?</p>
          </td>
          
          <td>
            <mat-slide-toggle></mat-slide-toggle>
          </td>
        </tr>
        <tr>
            
          <td>
            <p>All tags removed?</p>
          </td>
            <td>
              <mat-slide-toggle></mat-slide-toggle>
            </td>

        </tr>
        <tr>
            <td>
                <p>Grounding removed?</p>
              </td>
    
              <td>
                <mat-slide-toggle></mat-slide-toggle>
              </td>
        </tr>
        <tr>
 
            <td>
                <p>Ready for service?</p>
              </td>
    
              <td>
                <mat-slide-toggle></mat-slide-toggle>
              </td>
        </tr>
          
    </table>
    </form>
    </div>
</div>
