/* You can add global styles to this file, and also import other style files */
.clearfix:after {
  content: '';
  display: table;
  clear: both
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

body, p, h1, h2, h3, h4, h5 {
  margin: 0;
}

body{
  margin: 0;
  padding: 0;
}
  
