<body>
    <div class="sidebar-menu">
        <div class="sidebar-menu__top">
                    <ul class="sidebar-menu__top__links">
                        <li>
                            <a href="#">
                                
                                <div class="triger"><span>Basic Information</span></div>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/#" >
                                <div class="triger"><span>Devices</span></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="triger"><span>Resolution</span></div>
                            </a>
                        </li>
                        <li>
                            <a routerLink="#">
                                <div class="triger"><span>Calls</span></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="triger"><span>Crew</span></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="triger"><span>Multimedia attachments</span></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="triger"><span>Equipment</span></div>
                            </a>
                        </li>                    
                    </ul>
        </div>
    </div>
</body>
